body{
  background-image: url(../../../Archivos/Imagenes/R.jpg);
  background-size: 100% 100%;
}
.calendario{
  background-color: rgba(245, 239, 239, 0.849);
  /* border-color: blue 10px solid; */
  border: 9px solid;
  border-radius: 10px;
}
.fc-col-header-cell-cushion{
  font-weight: bolder;
  color: black;
}
.fc-daygrid-day-number{
  color: black;
  font-weight: bolder;
  font-size: 20px;
}
.fc-toolbar-title{
  font-size: 500px;
  font-weight: bolder;
  text-transform: uppercase;
}